@import "tailwindcss";


:root {
  --background: #334155;
  --foreground: #ffffff;
  --header-bg: #000000; 
  --background-30: color-mix(in srgb, var(--background), transparent 0%);
  --background-70: color-mix(in srgb, var(--background), transparent 30%);
  --accent: #34D399;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #334155;
    --foreground: #ededed;
    --header-bg: #000000;
    --background-30: color-mix(in srgb, var(--background), transparent 0%);
    --background-70: color-mix(in srgb, var(--background), transparent 30%);
    --accent: #34D399;
  }
}

html.light {
  --background: #f8fafc;        /* slate-50-ish */
  --foreground: #0a0a0a;        /* near-black */
  --header-bg: #ffffff;
  --background-30: color-mix(in srgb, var(--background), transparent 0%);
  --background-70: color-mix(in srgb, var(--background), transparent 30%);
  --accent: #047857;            /* keep same accent, or pick a light-specific one */
}

body {
  /* background: var(--background);  */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
